@{
    ViewData["Title"] = "Projects";
}


<head>
    <br />
    <h2 style="font-family:Verdana">
        100 Problems of Anything
    </h2>
</head>
<br />
<body>
    <ul>
        <li style="font-family:Verdana"> 100 Integral Problems</li>
        <li style="font-family:Verdana"> 100 Trigonometry Problems</li>
    </ul>
</body>

<head>
    <br />
    <h2 style="font-family:Papyrus">
        The Bunker 101
    </h2>
</head>
<br />
<body>
    <p> <span style="font-family:Papyrus">The Bunker 101</span> is a compilation of many printable contest problemsets ranging from local contests in Malaysia to Olympiads.</p>
</body>
